body {
    background-color: cornsilk;
}

h1 {
    text-align: center;
    font-size: large;
    margin: 20px 20px 20px 20px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h2 {
    text-align: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 50px;
}

h3 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
}

.info {
    text-align: right;
    margin: 0 130px 50px 740px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: thin;
}

.row {
    text-align: center;
    font-size: large;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

button {
    border-width: thin;
    font-size: 17px;
}

.current-location {
    border-width: thin;
    font-size: 17px;
    color: black;
}

p{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}